{% load htmx_renderer_tags %}
{% load rest_framework %}

{% if id %}
  <form hx-put="?partials=form" hx-swap="none">
    {% csrf_token %}
    {% for metadata in meta.fieldsets %}
      {% include_with_context_as_record 'fields/fieldset-widget.html' %}
    {% endfor %}
    <input type="submit" value="Update" />
  </form>
{% else %}
  <form hx-post="../" hx-target="#content" hx-swap="none">
    {% csrf_token %}
    {% for metadata in meta.fieldsets %}
      {% include_with_context_as_record 'fields/fieldset-widget.html' %}
    {% endfor %}
    <input type="submit" value="Create" />
  </form>
{% endif %}
