{% load htmx_renderer_tags %}

<thead id="data-table-header" {% hx_attrs %} class="fade-me-out fade-me-in"> 
  <tr>
    {% for field_name in meta.list_display %}
      {% with field=meta.fields|field_by_name:field_name %}
        <th>
          {{field.label|title}}
          {% if field_name in meta.ordering_fields %}
            &nbsp;
            {% if field_name == current_ordering %}
              <a 
                hx-trigger="click"
                hx-get="{% qs 'ordering' page_query_param %}&ordering=-{{field_name}}&partials=list_content,list_search,list_header,pagination"
                hx-target="#data-table-content"
                {% hx_swap push_url=True %}
              ><i class="fa fa-sort-up"></i></a>
            {% elif '-'|add:field_name == current_ordering %}
              <a 
                hx-trigger="click"
                hx-get="{% qs 'ordering' page_query_param %}&ordering={{field_name}}&partials=list_content,list_search,list_header,pagination"
                hx-target="#data-table-content"
                {% hx_swap push_url=True %}
              ><i class="fa fa-sort-down"></i></a>
            {% else %}
              <a 
                hx-trigger="click"
                hx-get="{% qs 'ordering' page_query_param %}&ordering={{field_name}}&partials=list_content,list_search,list_header,pagination"
                hx-target="#data-table-content"
                {% hx_swap push_url=True %}
              ><i class="fa fa-sort"></i></a>
            {% endif %}
          {% endif %}
        </th>
      {% endwith %}
    {% endfor %}
    <th colspan="{{ meta.custom_actions|length|add:2 }}">&nbsp;</th>
  </tr>
  {% if meta.filter_fields|length %}
    <tr>
      {% for field_name in meta.list_display %}
        <th>
          {% if field_name in meta.filter_fields or field_name|add:'_id' in meta.filter_fields %}
            {% with field=meta.fields|field_by_name:field_name rel=field_name|add:'_id' %}
              {% include_field_widget is_editable=True is_filter=True %}
            {% endwith %}
          {% else %}
            &nbsp;
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  {% endif %}
</thead>

