{% extends "fields/_default-widget.html" %}

{% block edit_value %}
  <div
      x-data="xManytomanyLists(
        '{{field.extra.search|default:"simple"}}', //searchMethod
        [{%for selected in value%}'{{selected.pk}}',{% endfor %}], // selected
        '/api/v1/{{field.extra.related_endpoint.app}}/{{field.extra.related_endpoint.plural}}/?format=json', //baseUrl
        [
          {%if field.extra.search != 'backend'%}
            {% for id, label in field|select_list %}
              {key: '{{id}}', label: '{{label}}'},
            {% endfor %}
          {% else %}
            {%for selected in value%}
              {key: '{{selected.pk}}', label: '{{selected|get:"__str__"}}'},
            {% endfor %}
          {% endif %}
        ] //choices
      )"
      x-id="['x-manytomany-list']"
      class="d-flex m2mlists"
  >
    <template x-for="item in selected" :key="item">
      <input type="hidden" name="{{rel|default:field_name}}" :value="item"/>
    </template>
    <div>
      <span class="d-flex flex-columns">Available {{field_name}}</span>
      <input class="form-control" x-model="search" placeholder="search" />
      <ul class="list-from">
        <template x-for="item in await getFilteredChoices()" :key="item.key">
          <li>
            <div class="form-check" >
              <input
                class="form-check-input"
                type="checkbox"
                :value="item.key"
                :id = "'{{field_name}}_' + item.key" @Change="selectFromList(item.key, 'selectedAvailable')"
                :checked="isSelectedInList(item.key, 'selectedAvailable')"
              />
              <label class="form-check-label" :for="'{{field_name}}_' + item.key"  x-text="item.label"/>
            </div>
          <li>
        </template>
        <li x-show="canLoadMore">
          <a @click.prevent="await fetchAndMerge()" href="#">Load more...</a>
        </li>
      </ul>
    </div>
    <div class="icons d-flex flex-column">
      <button @click.prevent="await selectAll()">&gt;&gt;</button>
      <button @click.prevent="select">&gt;</button>
      <button @click.prevent="unSelect">&lt;</button>
      <button @click.prevent="unSelectAll">&LT;&LT;</button>
    </div>
    <div>
      <span class="d-flex flex-columns">Chosen {{field_name}}</span>
      <ul>
        <template x-for="item in selectedChoices" :key="item.key">
          <li>
            <div class="form-check" >
              <input
                class="form-check-input"
                type="checkbox"
                :value="item.key"
                :id = "'{{field_name}}_' + item.key" @Change="selectFromList(item.key, 'selectedChosen')"
                :checked="isSelectedInList(item.key, 'selectedChosen')"
              />
              <label class="form-check-label" :for="'{{field_name}}_' + item.key"  x-text="item.label"/>
            </div>
          <li>
        </template>
      </ul>
    </div>
  </div>
{% endblock %}
