{% extends "fields/_default-widget.html" %}

{% block edit_value %}
  <div
      x-data="xManytomanyLists(
        [{%for selected in value%}'{{selected.pk}}',{% endfor %}], // selected
        '/api/v1/{{field.extra.related_endpoint.app}}/{{field.extra.related_endpoint.plural}}/?format=json', //baseUrl
        [{% for id, label in field|select_list %}
          {key: '{{id}}', label: '{{label}}'},
         {% endfor %}], //choices
      )"
      x-id="['x-manytomany-list']"
      class="d-flex"
  >
    <template x-for="item in selected" :key="item">
      <input type="hidden" name="{{rel|default:field_name}}" :value="item"/>
    </template>
    <div>
      <span class="d-flex flex-columns">Available {{field_name}}</span>
      <select multiple x-ref="selectFrom">
        <template x-for="item in unSelectedChoices">
          <option :value="item.key" x-text="item.label"></option>
        </template>
      </select>
    </div>
    <div class="icons d-flex flex-column">
      <span>&gt;&gt;</span>
      <button @click.prevent="select">&gt;</button>
      <button @click.prevent="unSelect">&lt;</button>
      <SPAN>&LT;&LT;</SPAN>
    </div>
    <div>
      <span class="d-flex flex-columns">Chosen {{field_name}}</span>
      <select multiple x-ref="selectTo">
        <template x-for="item in selectedChoices">
          <option :value="item.key" x-text="item.label"></option>
        </template>
      </select>
    </div>
  </div>
{% endblock %}
