{% extends "fields/_default-widget.html" %}
{% load htmx_renderer_tags %}

{% block value_only %}
  {% with value=record|get:field_name %}
    {% for choice in field.extra.choices %}
      {% if choice.value == value %}
        {{ choice.label }}
      {% endif %}
    {% endfor %}
  {% endwith %}
{% endblock %}

{% block edit_value %}
  <div
    x-data="{
      open: false,
      toggle(){
        this.open = !this.open;
      },
      selected: {%if value%}'{{value}}'{%else%}null{%endif%},
      select(value){
        this.selected=value;
        this.open=false;
      },
      choices: [
        {% for choice in field.extra.choices %}
          {key: '{{choice.value}}', label: '{{choice.label}}'},
        {% endfor %}
      ],
      search: '',
      get filteredChoices() {
        if (this.search == '') {
          return this.choices;
        }
        return this.choices.filter((item) => {
          return item.label.toLowerCase().includes(this.search.toLowerCase());
        });
      },
      get selectedLabel() {
        const filtered = this.choices.filter((item) => { return item.key == this.selected; });
        if (filtered.length == 0) {
          return '--';
        }
        return filtered[0].label;
      },
    }"
    x-on:keydown.escape.prevent.stop="open=false"
    x-id="['dropdown-button']"
    class="dropdown"
    :class="{
      show: open
    }"
  >
    <input type="hidden" x-model="selected" name="{{field_name}}"/>
    <button
        @click.prevent="toggle()"
        :aria-expanded="open"
        type="button"
        x-text="selected ? selectedLabel : 'Please choose a {{field.label}}'"
        :aria-controls="$id('dropdown-button')"
        class="btn btn-secondary dropdown-toggle"
    >
    </button>
    <div
      x-show="open"
      @click.outside="open=false"
      :id="$id('dropdown-button')"
      :class="{
        show: open
      }"
      style="padding-top: 0;"
      class="dropdown-menu"
    >
      <input
        x-model="search"
        placeholder="Type to search..."
        class="form-control"
      />
      <template x-for="item in filteredChoices" :key="item.key">
        <li class="dropdown-item">
          <a href="#" @click.prevent="select(item.key)" class="dropdown-item" x-text="item.label"></a>
        </li>
      </template>
    </div>
  </div>
{% endblock %}
