{% load htmx_renderer_tags %}

{% if request.headers|get:'HX-Request' %}
  {% include 'htmx/partials/navigation.html' %}
  <div id="error_container" hx-swap-oob="true"></div>
{% endif %}

<div id="main">
  <h2 class="row">
    <span class="col">
      {{meta.name}}
    </span>
      {% include_htmx_partial "list_search" %}
  </h2>

  <table class="table table-striped" id="records-list">
    {% include_htmx_partial "list_header" %}
    {% include_htmx_partial "list_content" %}
    {% include_htmx_partial "list_footer" %}
  </table>
</div>
